<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/hero.css">
    <% if (locals.type === "Provningar" || locals.type === "Föreläsningar") { %>
        <link rel="stylesheet" href="styles/browse.css">
        <% if (locals.type === "Provningar") { %>
         <link rel="stylesheet" href="styles/tastings.css">
         <% } else { %>
         <link rel="stylesheet" href="styles/lectures.css">
        <% } %>
    <% } %>
    <% if (locals.level === "Grund" || locals.level === "Avancerad" || locals.level === "Expert") { %>
        <link rel="stylesheet" href="styles/product.css">
    <% } %>
    <% if (locals.hero) { %>
        <link rel="stylesheet" href="styles/hero.css">
    <% } %>
</head>