<nav>
    <ul class="nav-list">
        <li class="list-item"> <a href="/">Hem</a></li>
        <li class="list-item"> <a href="/provningar">Provningar</a></li>
        <li class="list-item"> <a href="/forelasningar">Föreläsningar</a></li>
    </ul>
</nav>