<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <div class="landingpage">
        <%- include('../partials/header') %>
        <%- include('../partials/hero') %>
    </div>
</body>
</html>