<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/hero') %>
    <%- include('../partials/main-content') %>
</body>
</html>