.hero-container {
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-container>h2,
.subtitle>h3 {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.subtitle {
    text-align: center;
}

.hero-container.home {
    display: flex;
    flex-grow: 1;
}