.card.even,
.card.odd {
    display: flex;
    align-items: center;
}

.card {
    height: 300px;
    overflow: hidden;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-wrapper {
    flex-basis: 50%;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.text-wrapper {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    height: 100%;
}

.text-wrapper.even {
    align-items: start;
    padding-right: 32px;

}

.text-wrapper.odd {
    align-items: end;
    padding-left: 32px;
}

.card.even {
    flex-direction: row;
}

.card.odd {
    flex-direction: row-reverse;
}

.description.odd {
    text-align: end;
}

.heading {
    text-align: center;
}

@media screen and (max-width: 767px) {

    .card.card.even,
    .card.odd {
        flex-direction: column;
        height: 100%;
        padding-bottom: 24px;
    }

    .text-wrapper.odd,
    .text-wrapper.even {
        padding-bottom: 0;
        height: unset;
    }

    .card::after {
        content: "";
        display: block;
        width: 90%;
        height: 1px;
        background-color: black;
        margin-top: 24px;
    }

    /* img.icon {
        height: 300px;
    } */
}